<p id="notice"><%= notice %></p>

<%= image_tag @employee.employee_image_url(:thumb) if @employee.employee_image? %>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
